.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;

    font-style: normal;

}

/* ------------navbar style------------------ */


nav li {

    list-style: none;
    font-size: 24px;
}

nav li a {
    text-decoration: none;
    color: black
}

.shop-us {
    color: #8987A1;
}

.home {
    font-weight: bold;
}

.cart {
    display: flex;
    gap: 10px;
}

.cart-logo {
    width: 30px;
    height: 30px;
}

.nav-list-item {
    display: flex;
    gap: 50px;
}

.nav-container {


    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;

}

.hero-container {

    display: flex;
    margin: 120px 150px;
    margin-top: 200px;
    align-items: flex-end;

}

.hero-title {
    font-size: 65px;
    font-weight: bold;
    color: #000000;
}

.hero-title span {
    color: #E95A08;
}

.hero-description {
    font-size: 22px;
    color: #00000093;
}

/* ----------------nav style END------------------ */


/* -----------------------main start-------------------- */

.max-width {
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    margin-bottom: 100px;
}

.main-section {

    text-align: center;
    margin-bottom: 60px;

}

.main-title {
    font-size: 50px;
    font-weight: bold;
}

.main-title span {
    color: #E95A08;

}

.main-description {
    font-size: 22px;
    color: #00000093;

}

.box-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;

}

.box {
    margin-bottom: 100px;
    text-align: center;
}

.box-title {
    font-size: 22px;
    font-weight: 500;
}

.box-price {
    font-size: 22px;
    font-weight: bold;
}

.box>button {
    width: 100%;
    height: 50px;
    background-color: #E95A08;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 18px 70px;
}


/* ----------------------------------------- */


.flower-lover-container {

    margin: 0 auto;
    display: flex;

    gap: 60px;
}

.flower-lover-img {
    position: relative;

}

.badge-img {
    top: 0;
    right: 0;
    position: absolute;
    height: 286px;
    width: 286px;
}

.flower-title {
    font-size: 50px;
    font-weight: bold;
}

.flower-lover-text>ul li {
    font-size: 22px;
    margin-bottom: 20px;

    color: #00000089;
}


/* --------------------------------- */

.offer-main-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.offer-main-title span {
    color: #E95A08;
}

.offer-description {
    font-size: 22px;
    color: #00000093;
    text-align: center;
}

.offer-img-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;

}

.offer-img-2 {
    background-image: url(../image/deal-zabo.png);


    width: 740px;
    height: 424px;

    border-radius: 20px;
}

.plant-text {
    display: block;


    text-align: center;

    margin-top: 150px;
}

.plant-text a {

    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
}

.zabu-text {

    font-size: 50px;
    color: #ffffff;
    font-weight: bold;

}


.bloom-ana {
    width: 365px;
    height: 198px;
    background-color: #8987A1;
    border-radius: 20px;
}

.bloom-img {
    background-image: url(../image/deal-bloom.png);
    background-repeat: no-repeat;

}

.ana-img {
    background-image: url(../image/deal-ana.png);
    background-repeat: no-repeat;
}

.bloom-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


.ana-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.plant-text-2 {
    display: block;
    text-align: center;

}

/* ---------------------------------------- */

.new-max-width {
    max-width: 100%;
}

.serch-section {
    background-image: url(../image/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    margin-top: 130px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 70px;
}


.search-box h4 {
    display: block;

    padding: 200px 300px;



}

.search-title {
    font-size: 50px;
    font-weight: bold;

    color: #ffffff;
}

.input {
    width: 600px;
    height: 50px;
    padding-left: 30px;
    border: none;
}

.submit {
    width: 180px;
    height: 53px;
    color: #ffffff;
    background-color: #E95A08;
    border: none;
}

/* -------------------------footwr-------------- */

footer {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

footer p {
    font-size: 22px;
    color: #00000084;
}

.fb-img {
    margin-right: 20px;
}




/* ---------------------------------------------------------------------------- */





@media screen and (max-width:576px) {

    /* --------------nav RESPONS start----------------- */

    .home,
    .shop-us {
        display: none;
    }

    .nav-container {

        display: flex;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;

        width: 100%;
    }


    .card {

        gap: 0px;
    }

    .cart-logo {
        height: 25px;
        width: 25px;
    }


    .cart a {
        font-size: 16px;

    }


    .hero-container {
        flex-direction: column-reverse;
        margin: 28px 0px;

        width: fit-content;
    }

    .hero-img {
        width: 100%;
    }

    .hero-title {
        font-size: 33px;
    }

    .hero-description {

        width: 100%;
        font-size: 18px;
    }


    /* -----------------box responsibe------------- */


    .max-width {
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
        margin-bottom: 100px;
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        width: 100%;
    }

    .box {
        width: 160px;
    }

    .box>img {
        width: 100%;
    }

    .box>button {
        padding: 0;
    }

    .main-title {
        font-size: 38px;
    }

    .main-description {
        font-size: 18px;
    }

    /* -----------------------------Box end--------------------- */


    .flower-lover-container {
        flex-direction: column;

    }

    .badge-img {
        display: none;
    }

    .man-img {
        width: 370px;
        justify-content: center;
        align-items: center;


    }

    .flower-lover-text {
        width: 370px;
    }

    /* ------------------------------------------ */

    .offer-img-container {
        flex-direction: column;
    }


    .offer-img-2 {
        width: 365px;
    }

    .offer-description {
        width: 360px;
        margin: 0 auto;
    }

    /* ---------------------------------- */

    .serch-section {
        width: 100%;
    }


    .input {
        width: 50%;
    }

    .submit {
        width: 30%;

    }

    .search-title {
        font-size: 36px;

    }

    /* ------------------footer responsib----------------------- */

    footer {
        flex-direction: column;
        margin: 0;
    }
}